<nav class="navbar navbar-default">
    <div class="container-fluid">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/">Jeopardy Lite</a>
      </div>
  
      <!-- Collect the nav links, forms, and other content for toggling -->
      
    </div><!-- /.container-fluid -->
  </nav>

<div id = "clueInfo" *ngIf = "questionInfo">
<h4>Clue Info</h4>
<br>
<p>CATEGORY: {{questionInfo?.category.title}}</p>
<br>
<p>QUESTION VALUE: {{questionInfo?.value}}</p>
<br>
<p>QUESTION: {{questionInfo?.question}}</p>
<br>
 
</div>

<!-- pull in all the info from the DB to check work -->
<!-- {{questionInfo|json}} -->

<app-answerfield (refreshQuestion)="getDataFromService($event)"[questionInfo]="questionInfo"></app-answerfield>
